html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto Mono', monospace;
  background: url('../img/background-1.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: #efb106;
  min-height: 90vh;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  width: 90%;
  display: flex;
  flex-flow: column wrap;
}
fieldset {
  border: 1.5px solid #000;
  border-radius: 10px;
  margin-bottom: 2rem;
}
iframe {
  border-radius: 10px;
  margin: 0 1rem;
  min-height: 40vh;
  min-width: 75vw;
}
body,
legend,
label,
input,
select,
p,
button,
textarea,
address {
  font-size: 1.8em;
}
h1 {
  letter-spacing: 1px;
  font-size: 2.7em;
  margin: 3rem 0 4rem;
}
button {
  background-color: #f03a07;
  color: #fffaed;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 2rem 0;
  padding: 1rem 2rem;
  text-transform: uppercase;
}
button:hover {
  background-color: #f01207;
  color: #fff;
}
button,
input,
select,
textarea {
  border: 0;
  border-radius: 5px;
  font-family: inherit;
  outline: none;
}
label {
  display: block;
  margin: 3rem 0 0.5rem;
  padding-bottom: 0.3rem;
  text-align: left;
}
legend {
  display: block;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 1.5rem 0 1rem;
}
address {
  margin: 1rem;
}
input:not([type='radio']):not([type='checkbox']),
select,
textarea {
  display: block;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
}
textarea {
  height: 20rem;
}
p,
[for='abtype'] {
  margin-top: 2rem;
}
[type='radio'],
[type='checkbox'] {
  height: 3.7rem;
  width: 3.7rem;
}
#date,
#abtype {
  font-family: cursive;
  padding: 2rem;
}
#name,
#phone,
#email {
  margin-bottom: 1.5rem;
}
.text-1 {
  margin-bottom: 3rem;
}
/* * Mobile First */
@media (min-width: 992px) {
  body,
  legend,
  label,
  input,
  select,
  p,
  button,
  textarea,
  address {
    font-size: 1em;
  }
  .wrapper {
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: left;
    width: 80%;
  }
  section {
    flex-basis: 39%;
  }
  aside {
    flex-basis: 40%;
    margin-top: 2rem;
  }
  h1 {
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
  }
  iframe {
    height: 110vh;
    min-width: 80vh;
  }
  label {
    margin: 0;
    padding: 0;
  }
  input:not([type='radio']):not([type='checkbox']),
  select,
  textarea {
    margin: 0.4rem 0 1rem;
    padding: 0.3rem 0;
  }
  textarea {
    height: 10rem;
  }
  [type='radio'],
  [type='checkbox'] {
    height: 1rem;
    width: 1rem;
  }
  #name,
  #phone,
  #email,
  .fieldset-2 label {
    margin-bottom: 0.5rem;
  }
  #date,
  #abtype {
    padding: 0.5rem;
  }
  .text-1 {
    margin-bottom: 2rem;
  }
  .fieldset-2 {
    margin-bottom: 0;
  }
  .fieldset-1,
  .fieldset-2 {
    padding: 1rem;
  }
}
